<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-techofacerecognition" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TecholutionFaceRecognitionPlugin</name>
    <js-module name="TecholutionFaceRecognitionPlugin" src="www/TecholutionFaceRecognitionPlugin.js">
        <clobbers target="cordova.plugins" /></js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TecholutionFaceRecognitionPlugin">
                <param name="android-package" value="cordova.plugin.techofacerecognition.TecholutionFaceRecognitionPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/TecholutionFaceRecognitionPlugin.java" target-dir="src/cordova/plugin/techofacerecognition/TecholutionFaceRecognitionPlugin" />
    </platform>
</plugin>